
@{
    ViewBag.Title = "Parabrisa";
}

<h2>Parabrisa</h2>

<li>@Html.ActionLink("Voltar", "Index", "Home")</li>

<div class="row">
    <div class="col-md-4">
        <h2>Parabrisas</h2>
        <p>
            <a href="@Url.Action("Parabrisa","Home")">
                <img src="~/Content/Parabrisas.png" width="100" />
            </a>
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div><div class="col-md-4">
    <h2>Parabrisas</h2>
    <p>
        <a href="@Url.Action("Parabrisa","Home")">
            <img src="~/Content/Parabrisas.png" width="100" />
        </a>
    </p>
    <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
</div><div class="col-md-4">
    <h2>Parabrisas</h2>
    <p>
        <a href="@Url.Action("Parabrisa","Home")">
            <img src="~/Content/Parabrisas.png" width="100" />
        </a>
    </p>
    <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
</div><div class="col-md-4">
    <h2>Parabrisas</h2>
    <p>
        <a href="@Url.Action("Parabrisa","Home")">
            <img src="~/Content/Parabrisas.png" width="100" />
        </a>
    </p>
    <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
</div><div class="col-md-4">
    <h2>Parabrisas</h2>
    <p>
        <a href="@Url.Action("Parabrisa","Home")">
            <img src="~/Content/Parabrisas.png" width="100" />
        </a>
    </p>
    <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
</div><div class="col-md-4">
    <h2>Parabrisas</h2>
    <p>
        <a href="@Url.Action("Parabrisa","Home")">
            <img src="~/Content/Parabrisas.png" width="100" />
        </a>
    </p>
    <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
</div>
</div>