
@{
    ViewBag.Title = "PaginaEscolhaMarcaFarol";
}

<h2>Escolha a Marca e Modelo do seu carro!</h2>

<div class="row">
    <div class="vw">
        <img src="~/Content/VwIcone.png" width="50" />
        <br />
        <a href="@Url.Action("FarolPrincipalGol", "LinksDropDown")">Gol </a>
        <br />
        <a href="@Url.Action("FarolPrincipal", "LinksDropDown")">Saveiro </a>
        <br />
        <a href="@Url.Action("FarolPrincipal", "LinksDropDown")">Amarok </a>
        <br />
        <a href="@Url.Action("FarolPrincipal", "LinksDropDown")">Fox </a>
        <br />
        <a href="@Url.Action("FarolPrincipal", "LinksDropDown")">Golf </a>
    </div>


    <div class="vw">
        <img src="~/Content/FiatIcone.png" width="50" />
        <br />
                <a href="@Url.Action("FarolPrincipal", "LinksDropDown")">Uno </a>
        <br />
        <a href="@Url.Action("FarolPrincipal", "LinksDropDown")">Strada </a>
        <br />
        <a href="@Url.Action("FarolPrincipal", "LinksDropDown")">Punto </a>
        <br />
        <a href="@Url.Action("FarolPrincipal", "LinksDropDown")">Ideia </a>
        <br />
        <a href="@Url.Action("FarolPrincipal", "LinksDropDown")"> Bravo </a>
    </div>

    <div class="vw">
        <img src="~/Content/IconeFord.jpg" width="50" />
        <br />
        <a href="@Url.Action("FarolPrincipal", "LinksDropDown")">F-250 </a>
        <br />
        <a href="@Url.Action("FarolPrincipal", "LinksDropDown")">f-1000 </a>
        <br />
        <a href="@Url.Action("FarolPrincipal", "LinksDropDown")">ka </a>
        <br />
        <a href="@Url.Action("FarolPrincipal", "LinksDropDown")">Fusion </a>
        <br />
        <a href="@Url.Action("FarolPrincipal", "LinksDropDown")">Focus </a>
    </div>
    </div>
