@{
    ViewBag.Title = "Xenon";
}

<h2>Xenon</h2>



<div class="row">
    <div class="col-md-4">
        <h2>Xenon</h2>
        <p>

            <a href="@Url.Action("Comprar","Home")">

                <img src="~/Content/foto01.jpg" width="150" />
                <h1> Modelo: Palio <br /> Ano: 2008/2013 <br /> Codigo:1121</h1>
            </a>
        </p>

    </div><div class="col-md-4">
        <h2>Xenon</h2>
        <p>

            <a href="@Url.Action("Comprar","Home")">

                <img src="~/Content/foto01.jpg" width="150" />
                <h1> Modelo: Palio <br /> Ano: 2008/2013 <br /> Codigo:1121</h1>
            </a>
        </p>
    </div><div class="col-md-4">
        <h2>Xenon</h2>
        <p>

            <a href="@Url.Action("Comprar","Home")">

                <img src="~/Content/foto01.jpg" width="150" />
                <h1> Modelo: Palio <br /> Ano: 2008/2013 <br /> Codigo:1121</h1>
            </a>
        </p>
    </div><div class="col-md-4">
        <h2>Xenon</h2>
        <p>

            <a href="@Url.Action("Comprar","Home")">

                <img src="~/Content/foto01.jpg" width="150" />
                <h1> Modelo: Palio <br /> Ano: 2008/2013 <br /> Codigo:1121</h1>
            </a>
        </p>
    </div><div class="col-md-4">
        <h2>Xenon</h2>
        <p>

            <a href="@Url.Action("Comprar","Home")">

                <img src="~/Content/foto01.jpg" width="150" />
                <h1> Modelo: Palio <br /> Ano: 2008/2013 <br /> Codigo:1121</h1>
            </a>
        </p>
    </div><div class="col-md-4">
        <h2>Xenon</h2>
        <p>

            <a href="@Url.Action("Comprar","Home")">

                <img src="~/Content/foto01.jpg" width="150" />
                <h1> Modelo: Palio <br /> Ano: 2008/2013 <br /> Codigo:1121</h1>
            </a>
        </p>
    </div>
</div>